/* 수직 중앙 배치를 위한 부모 컨테이너 스타일 */
.register-student-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    /* 필요 시 배경색 추가 */
}

/* 페이지 중앙 배치 및 너비 조정 */
.register-student {
    width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.register-student h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: bold;
    color: #333333;
}

.register-student label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}

.register-student input[type="text"],
.register-student input[type="email"],
.register-student input[type="password"],
.register-student select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    box-sizing: border-box;
}

.register-student .date-select {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}

.gender-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
}

.gender-container label {
    flex: 1;
    font-size: 14px;
    color: #333333;
}

.register-student .gender-options {
    display: flex;
    flex: 2.1;
    justify-content: space-around;
    font-size: 14px;
    color: #333333;
}

.register-student button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #333333;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}